body{
    background-color: lightgoldenrodyellow;
}
.th{
    background-color:indianred;
    text-align: center;
}

.required::before{
    content: '*';
    color: red;
}

table{

    width: 1370px;
}

#pre{
    color: blue;
}

footer{
    text-align: center;
}
